body {
    background-color: black;
}

.board {
    height: 800px;
    width: 800px;
    background-color: gray;
    margin: 0 auto;
}

.cell {
    height: 20px;
    width: 20px;
    background-color: white;
    display: inline-block;
}